.experience {
    margin-top: 150px;
    width: 100%;
    .title {
        font-size: 122px;
        color: #f0f0f0;
        text-align: center;
        margin: 0;
        font-family: 'title300';
    }
}